
@yellow:#ead810;
@navbar-bg-color:#960960;
@navbar-color:#fff;




/* Navigation 
.site-navigation
{

	.container
	{
		&::after
		{
			content: "";
			width: 0;
			height: 0;
			border: 50px solid transparent;
			border-left-color: @yellow;
			border-top-color: @yellow;
			display: block;
			margin-bottom: -100px;
		}
	}

	.navbar
	{
		margin-bottom: 0;
		background-color: @navbar-bg-color;
		color: @navbar-color;
	}

	.navbar-brand
	{
		color:@navbar-color;
	}

	.navbar-nav
	{
		>li
		{
			>a
			{
				color:@navbar-color;
			}

			>.dropdown-menu
			{
				background-color: @navbar-bg-color;
				color:@navbar-color;
			}
		}

		>.dropdown
		{
			>a 
			{
				.caret
				{
					border-top-color: @navbar-color;
					border-bottom-color: @navbar-color;
				}

			}
		}
	}
	.dropdown-menu
	{
		>li
		{
			>a
			{
				color: @navbar-color;

			}
		}
		li
		{
			a
			{
				color: @navbar-color;

			}
		}
	}

	

}





/* Typography */

body {
    font-size: 19px;
    font-family: "museo-sans-rounded", "sans-serif";
    font-weight: 500;
    font-style: normal;
    background-color: rgba(181,247,255,1);
    color: rgba(17,17,17,1);

    h1,h2,h3,h4,h5,h6
	{
		font-family: "europa", sans-serif;
	}

	p, a, li, q, blockquote
	{
    font-family: "museo-sans-rounded", "sans-serif";

	}
}






